node_modules/
.next/
build/
dist/
public/
.editorconfig
.eslintignore
.eslintrc
.gitignore
.prettierignore
.prettierrc
components.json
next-env.d.ts
next.config.mjs
package-lock.json
package.json
postcss.config
tailwind.config.ts
tsconfig.json